@import "_variables.scss";

header {
    // background-color: black;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(20px);
    // -webkit-mask: linear-gradient(to top, transparent, black 50%);

    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;

    @media only screen and (min-width: 960px) {
        padding-top: 46px;
        padding-bottom: 46px;
    }

    .logo {
        display: flex;
        align-items: center;
        column-gap: 0.813rem;

        img {
            width: 35.78px;
            height: 21.14px;

            @media only screen and (min-width: 960px) {
                width: 47.7px;
                height: 28.18px;
            }

            @media only screen and (min-width: 1140px) {
                width: 60px;
                height: 35px;
            }
        }

        p {
            font-size: 1.055rem;
            letter-spacing: 0.019rem;
            line-height: 200%;
            font-weight: 700;

            @media only screen and (min-width: 960px) {
                font-size: 1.407rem;
                letter-spacing: 0.026rem;
            }

            @media only screen and (min-width: 1140px) {
                font-size: 1.75rem;
                letter-spacing: 0.032rem;
            }
        }
    }

    #hamburger {
        position: relative;
        z-index: 2;
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-width: 0;

        &:hover {
            box-shadow: none;
        }

        div {
            display: block;
            width: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

            span {
                position: absolute;
                display: block;
                width: 24px;
                height: 2px;
                background-color: #fff;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out;

                &:first-child {
                    transition-property: transform;
                    transform: translateY(-6px);
                }

                &:last-child {
                    transition-property: transform;
                    transform: translateY(6px);
                }
            }
        }

        &.open {
            div {
                span {
                    &:first-child {
                        transform: rotate(45deg) translateY(0);
                    }

                    &:not(:first-child):not(:last-child) {
                        opacity: 0;
                    }

                    &:last-child {
                        transform: rotate(-45deg) translateY(0);
                    }
                }
            }
        }

        @media only screen and (min-width: 960px) {
            display: none;
        }
    }

    nav.opened {
        transform: translateX(0);
        visibility: visible;
    }

    nav {
        padding-inline: 20px;
        padding-top: 65px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        align-items: stretch;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        background-color: $bg-nav;
        height: 100vh;

        transition-property: transform, visibility;
        transition-timing-function: linear;
        transition-duration: 100ms;
        transform: translateX(100%);
        transform-origin: top;

        @media only screen and (min-width: 960px) {
            padding-inline: 0;
            padding-top: 0;
            position: static;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            column-gap: 62px;
            visibility: visible;
            height: auto;
            background-color: transparent;
            transform: translateX(0);
        }

        ul {
            font-size: 15px;
            line-height: 32px;

            display: flex;
            flex-direction: column;
            row-gap: 16px;
            column-gap: 0;
            padding-top: 20px;
            list-style-type: none;

            @media only screen and (min-width: 960px) {
                font-size: 18px;
                line-height: 36px;

                position: static;
                flex-direction: row;
                row-gap: 0;
                column-gap: 20px;
                padding-top: 0;
            }

            @media only screen and (min-width: 1140px) {
                column-gap: 32px;
            }

            li > a {
                display: block;
                position: relative;
                background-color: $bg-nav-li;
                border-radius: 12px;

                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;

                transition: background-color $hover-transition;

                &::before {
                    content: "";
                    display: none;
                    position: absolute;
                    opacity: 0;
                    left: -4px;
                    right: -2px;
                    height: 10px;
                    bottom: 8px;
                    z-index: -1;
                    background: linear-gradient(to right, #533CA3 1.85%, #BF5AB8 30.47%, #ED641F 68.15%, #FFE322 99.01%);
                    clip-path: polygon(50% 3%, 35% 4%, 31% 2%, 27% 1%, 24% 5%, 23% 3%, 16% 3%, 12% 7%, 9% 11%, 5% 14%, 2% 18%, 1% 21%, 1% 27%, 4% 24%, 8% 25%, 6% 29%, 3% 31%, 1% 33%, 2% 36%, 3% 38%, 5% 38%, 4% 45%, 2% 45%, 1% 42%, 1% 47%, 1% 51%, 2% 49%, 4% 51%, 4% 55%, 1% 57%, 1% 58%, 4% 63%, 6% 73%, 3% 70%, 1% 68%, 0% 85%, 4% 88%, 4% 93%, 2% 97%, 4% 100%, 8% 99%, 10% 94%, 12% 100%, 13% 100%, 16% 100%, 19% 98%, 21% 100%, 24% 98%, 24% 97%, 23% 93%, 24% 94%, 25% 94%, 26% 100%, 25% 100%, 28% 100%, 28% 99%, 29% 99%, 31% 95%, 32% 97%, 32% 100%, 34% 100%, 37% 100%, 38% 94%, 41% 96%, 43% 98%, 47% 99%, 47% 97%, 48% 93%, 52% 96%, 52% 97%, 53% 100%, 56% 100%, 57% 98%, 56% 97%, 57% 94%, 60% 93%, 64% 100%, 66% 99%, 66% 94%, 66% 92%, 69% 91%, 69% 94%, 70% 97%, 71% 100%, 74% 97%, 76% 96%, 82% 99%, 83% 98%, 85% 94%, 88% 93%, 91% 93%, 94% 93%, 96% 95%, 95% 100%, 98% 100%, 99% 96%, 99% 92%, 97% 90%, 96% 89%, 99% 82%, 99% 79%, 97% 79%, 95% 79%, 95% 80%, 97% 68%, 98% 68%, 99% 67%, 99% 66%, 98% 60%, 98% 60%, 99% 56%, 100% 56%, 99% 51%, 98% 45%, 99% 41%, 99% 38%, 99% 35%, 97% 33%, 97% 32%, 98% 26%, 98% 25%, 95% 23%, 93% 21%, 95% 15%, 96% 11%, 95% 10%, 93% 8%, 90% 9%, 85% 10%, 76% 4%, 75% 7%, 65% 11%, 56% 6%, 61% 7%, 59% 9%);

                    transition: opacity $hover-transition;
                }

                &:hover {
                    background-color: $bg-nav-li-hover;
                }

                @media only screen and (min-width: 960px) {
                    display: inline;
                    background-color: transparent;
                    padding: 10px;

                    &::before {
                        display: block;
                    }

                    &:hover {
                        background-color: transparent;

                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .logo-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 0.813rem;

            @media only screen and (min-width: 960px) {
                display: none;
            }

            img {
                width: 64px;
                height: 38px;
            }

            p {
                font-size: 21px;
                font-weight: 700;
                line-height: 200%;
                letter-spacing: 0.384px;
            }
        }

        .socialmedia {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            row-gap: 16px;

            .twitter,
            .telegram,
            .email {
                background-color: $bg-nav-li;
                color: white;
                font-weight: 700;
                font-size: 15px;
                line-height: 32px;

                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                column-gap: 0.5rem;
                border-width: 0;
                border-radius: 12px;

                padding-top: 10px;
                padding-bottom: 10px;
                padding-inline: 20px;
                cursor: pointer;

                transition: background-color $hover-transition;

                &:hover {
                    box-shadow: none;
                    background-color: $bg-nav-li-hover;
                }

                svg {
                    transition: color $hover-transition;
                    color: $svg-base-color;
                }

                @media only screen and (min-width: 960px) {
                    font-size: 16px;
                    line-height: 28px;

                    flex-direction: row;
                    justify-content: start;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    padding-left: 12px;
                    padding-right: 16px;

                    border-radius: 8px;
                    background-color: $bg-btn-twitter;

                    transition: box-shadow $hover-transition;

                    &:hover {
                        box-shadow: $btn-shadow;
                        background-color: $bg-btn-twitter;
                    }
                }
            }

            .twitter:hover svg {
                color: $twitter-color;
            }

            .telegram:hover svg {
                color: $telegram-color;
            }

            .email:hover svg {
                color: $orange-dot;
            }

            @media only screen and (min-width: 960px) {
                .twitter svg {
                    color: $twitter-color;
                }

                .email,
                .telegram {
                    display: none;
                }
            }
        }
    }
}
