@import "variables.scss";

#sponsors {
    margin-bottom: 5rem;

    @media only screen and (min-width: 1140px) {
        margin-bottom: 10rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 2rem;

            @media only screen and (min-width: 960px) {
                margin-bottom: 3.25rem;
            }

            @media only screen and (min-width: 1140px) {
                margin-bottom: 2.75rem;
            }

            &::after {
                background-image: url("../images/underline_sponsors.svg");
                width: 10.1875rem;
                height: 0.875rem;
                bottom: -0.0625rem;
                left: -0.625rem;

                @media only screen and (min-width: 960px) {
                    width: 16.6875rem;
                    height: 1.4375rem;
                    bottom: -0.0625rem;
                    left: -0.9375rem;
                }

                @media only screen and (min-width: 1140px) {
                    width: 21.0625rem;
                    height: 1.8125rem;
                    bottom: 0.75rem;
                    left: -0.9375rem;
                }
            }
        }

        .logo-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1.25rem;
            row-gap: 1rem;

            margin: auto;
            margin-bottom: 1.75rem;

            @media only screen and (min-width: 960px) {
                column-gap: 2.5625rem;
            }

            @media only screen and (min-width: 1140px) {
                margin-bottom: 2.25rem;
            }
        }

        .buttons-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.75rem;

            @media only screen and (min-width: 960px) {
                column-gap: 1.25rem;
            }

            @media only screen and (min-width: 1140px) {
                column-gap: 1.75rem;
            }
        }
    }
}