@import "variables.scss";

#sponsors {
    margin-bottom: 80px;

    @media only screen and (min-width: 1140px) {
        margin-bottom: 160px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 32px;

            @media only screen and (min-width: 960px) {
                margin-bottom: 52px;
            }

            @media only screen and (min-width: 1140px) {
                margin-bottom: 44px;
            }

            &::after {
                background-image: url("../images/underline_sponsors.svg");
                width: 163px;
                height: 14px;
                bottom: -1px;
                left: -10px;

                @media only screen and (min-width: 960px) {
                    width: 267px;
                    height: 23px;
                    bottom: -1px;
                    left: -15px;
                }

                @media only screen and (min-width: 1140px) {
                    width: 337px;
                    height: 29px;
                    bottom: 12px;
                    left: -15px;
                }
            }
        }

        .logo-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 20px;
            row-gap: 16px;

            margin: auto;
            margin-bottom: 28px;

            @media only screen and (min-width: 960px) {
                column-gap: 41px;
            }

            @media only screen and (min-width: 1140px) {
                margin-bottom: 36px;
            }
        }

        .buttons-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 12px;
            row-gap: 12px;

            @media only screen and (min-width: 960px) {
                column-gap: 20px;
            }

            @media only screen and (min-width: 1140px) {
                column-gap: 28px;
            }
        }
    }
}
