//main
$bg: #10151A;

// header colors
$bg-nav: #222930;
$bg-btn-twitter: #262e37;
$twitter: #00ACEE;
$bg-nav-li: rgba($color: #fff, $alpha: 0.1);

//roadmap-club colors
$bg-roadmap-club: linear-gradient(123deg, #A96BF7 2.02%, #3103B5 101.68%);

//button
$btn-bg-yellow: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
$btn-shadow-yellow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);
$btn-bg-white-opacity: rgba(255, 255, 255, 0.15);