// header colors
$bg-nav: #222930;
$bg-btn-twitter: #262e37;
$twitter: #00ACEE;
$bg-nav-li: rgba($color: #fff, $alpha: 0.1);

//button
$btn-bg-yellow: linear-gradient(180deg, #FFD600 0%, #FFB800 100%);
$btn-shadow-yellow: 0px 9px 44px 0px rgba(255, 214, 0, 0.19);