@import '_reset-css.scss';
@import '_responsive.scss';
@import '_fonts.scss';
@import '_header.scss';
@import '_hero.scss';

body {
    color: white;
}

.container {
    font-family: PTMono, Helvetica, Arial, sans-serif;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration-line: none;
    color: white;
}