@import "_reset-css.scss";
@import "_responsive.scss";
@import "_fonts.scss";
@import "variables.scss";
@import "_header.scss";
@import "_creators.scss";
@import "_hero.scss";
@import "_roadmap-club.scss";
@import "_learn-more.scss";
@import "_sponsors.scss";
@import "_footer.scss";

body {
    color: white;
    background-color: $bg;
}

.container {
    font-family: PTMono, Helvetica, Arial, sans-serif;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

button {
    color: white;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;

    background: $btn-bg-white-opacity;
    border-width: 0;
    border-radius: 16px;
    padding-inline: 36px;
    padding-block: 8px;
    cursor: pointer;
    transition: box-shadow $hover-transition;

    &:hover {
        box-shadow: $btn-shadow;
    }

    @media only screen and (min-width: 960px) {
        font-size: 18px;
        line-height: 36px;
        padding-block: 12px;
    }

    @media only screen and (min-width: 1140px) {
        font-size: 20px;
        padding-inline: 40px;
        padding-block: 16px;
    }

    &.btn-yellow {
        color: black;
        background: $btn-bg-yellow;

        &:hover {
            box-shadow: $btn-shadow-yellow;
        }
    }

    &.btn-empty {
        background: none;
        border: 2px solid rgba(255, 255, 255, 0.15);
        border-radius: 12px;
        padding-inline: 20px;
        padding-block: 8px;

        @media only screen and (min-width: 960px) {
            font-size: 14px;
            line-height: 24px;
        }

        @media only screen and (min-width: 1140px) {
            font-size: 18px;
            line-height: 32px;

            border-radius: 12px;
            padding-inline: 24px;
        }
    }
}

a {
    text-decoration-line: none;
    color: white;
}

h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;

    @media only screen and (min-width: 960px) {
        font-size: 36px;
        line-height: 60px;
    }

    @media only screen and (min-width: 1140px) {
        font-size: 40px;
        line-height: 70px;
    }

    &.underline {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;

        position: relative;

        @media only screen and (min-width: 960px) {
            font-size: 40px;
            line-height: 52px;
        }

        @media only screen and (min-width: 1140px) {
            font-size: 48px;
            line-height: 92px;
        }

        &::after {
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;
        }
    }
}

h1,
h2 {
    & > span {
        position: relative;
        z-index: 0;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.hidden {
    transform: translateX(-50%);
    opacity: 0;
    filter: blur(5px);
}

.show {
    transition: transform 1s, opacity 1s, filter 1s;
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(100ms * var(--order));
}
